/* global css */

* {
    font-family: 'Baloo Tammudu';
    word-wrap: break-word;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

a:focus,
a:hover {
    color: white;
    text-decoration: none;
}


/* header */

header {
    min-height: 500px;
    color: white;
    background: #ec008c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
}

.intro {
    padding-top: 110px;
}

.intro p {
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
}

.intro p.hello {
    font-size: 70px;
}

.header-arrow {
    position: absolute;
    bottom: -15px;
    font-size: 45px;
    left: 50%;
    margin-left: -20px;
}

.header-arrow a {
    color: white;
}


/* navbar css */

nav {
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.title {
    height: 100%;
    min-width: 20%;
    color: white;
    text-transform: capitalize;
    font-size: 30px;
    margin: auto;
    text-align: center;
    line-height: 2;
    float: left;
}

nav ul li {
    padding: 15px 15px;
    display: inline-block;
}

nav ul a {
    color: white;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: block;
    text-transform: capitalize;
}

/* navbar menu open css */

#menu-open {
    display: none;
}

.menu ul {
    transition: .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
/* main section css */


/* gallery section  css */

#gallery {
    margin-top: 10px;
    padding: 15px 0 100px 0;
    position: relative;
}

#gallery::after {
    content: "";
    position: absolute;
    border: 30px solid white;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    bottom: -60px;
    left: 50%;
    margin-left: -18px;
    z-index: 15
}

.gallery-title {
    font-size: 25px;
    text-align: center;
    margin: 15px 10px;
    position: relative;
}

.gallery-title:before {
    content: "\f1fc";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px;
    font-size: 20px;
    color: #f74872;
}

.gallery-title:after {
    content: "";
    width: 75px;
    height: 5px;
    background: #f11f81;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -27px;
}

.card {
    height: 230px;
    width: 100%;
    background: antiquewhite;
    margin: 0 0 15px 0;
    overflow: hidden;
    position: relative;
}

.card-title {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(242, 39, 127, 0.41);
    color: white;
    opacity: 0;
    cursor: pointer;
    transition: .5s;
}

.card-title a {
    display: block;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 200px;
    padding: 15px;
    transition: .6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.card-title:hover a {
    margin-top: 45px
}

.card-title:hover {
    opacity: 1;
}

.card-thumbnail img {
    width: 100%;
    height: 230px;
}


/* about us section css */

#about-us {
    min-height: 500px;
    text-transform: capitalize;
    color: white;
    background: #00c6ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.about-us-title {
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    padding-top: 50px;
}

.about-us-title::before {
    content: "\f2be";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px;
    font-size: 20px;
    color: white;
}

.about-summary {
    width: 50%;
    text-align: center;
    font-size: 20px;
    padding-top: 80px;
    margin: 0 auto;
}

.skills {
    width: 25%;
    margin: 0 auto;
    margin-top: 20px;
}

.skill {
    display: inline-block;
    padding: 10px 10px 5px 10px;
    border: 2px solid white;
    border-radius: 3px;
    margin: 0 0 5px 2px;
}

.skills-title {
    text-align: center;
    font-size: 20px;
}


/* our client section css */

.our-client {
    min-height: 400px;
    margin-top: 100px;
    background: #7b4397;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc2430, #7b4397);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.client-title div {
    color: white;
    padding: 0 15px;
    font-size: 50px;
    text-transform: capitalize;
    padding-top: 54px;
    text-align: center;
}

.carousel {
    width: 60%;
    height: 230px;
    margin: 0 auto;
}

.carousel-control.left,
.carousel-control.right {
    background: transparent !important;
}

.glyphicon-chevron-left:before {
    content: "\f060";
    font: normal normal normal 14px/1 FontAwesome;
}

.glyphicon-chevron-right:before {
    content: "\f061";
    font: normal normal normal 14px/1 FontAwesome;
}

.carousel-caption {
    position: initial;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    width: 60%;
    display: inline-block;
    padding-left: 20px;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    display: inline-block;
    width: 20%;
    border: 4px solid #fff;
}

.carousel-control.left {
    margin-left: -90px;
}

.carousel-control.right {
    margin-right: -90px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    margin-top: -60px;
}


/* social icons css */
.social-title{
    text-transform: capitalize;
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 40px;

}
.icons{
    position: absolute;
    left: 50%;
    margin-left: -175px;
    display: inline-block;
}
.social-icons {
    width: 100%;
    min-height: 150px;
    position: relative;
}

.icon {
    display: inline-block;
    font-size: 50px;
    margin-left: 5px;
}

.icon .fa {
    padding: 15px 15px;
    border-radius: 50%;
    border: 5px solid #f9546e;
    transition: .5s ease;
}

.icon i.fa.fa-facebook {
    color: #3b5999;
    padding: 15px 25px;
}

.icon i.fa.fa-twitter {
    color: #55acee;
}

.icon i.fa.fa-codepen {
    color: #212121;
}

.icon i.fa.fa-github {
    color: #6e5494;
    padding: 15px 18px;
}

.icon i.fa.fa-facebook:hover {
    color: white;
    background: #3b5999;
}

.icon i.fa.fa-twitter:hover {
    color: white;
    background: #55acee;
}

.icon i.fa.fa-codepen:hover {
    color: white;
    background: #212121;
}

.icon i.fa.fa-github:hover {
    color: white;
    background: #6e5494;
}


/* contact us section css */

#contact {
    height: 500px;
    margin-top: 120px;
    background: #2b5876;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-transform: capitalize;
}

.contact-title {
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 25px;
}

.contact-title:before {
    content: "\f003";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px;
    font-size: 30px;
    color: white;
}

#contact form {
    width: 40%;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}

.contact-input {
    position: relative;
    margin: 20px 0;
}

#contact form label {
    color: #fff;
    font-size: 16px;
    position: absolute;
    pointer-events: none;
    top: 10px;
    transition: 0.2s ease all;
    width: 100%;
    font-weight: 500;
}

#contact form input[type="text"],
textarea {
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    padding: 10px 10px 10px 0;
    position: relative;
    display: block;
    border: none;
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
    outline: 0;
}

#contact form input[type="text"]:focus~label,
textarea:focus~label {
    -webkit-transition: all 0.125s ease;
    -moz-transition: all 0.125s ease;
    transition: all 0.125s ease;
    color: #d2d2d2;
    font-size: 10px;
    transform: translateY(-100%);
    font-weight: 500 !important;
}

#contact form textarea {
    max-height: 150px;
    max-width: 495px;
}

#contact form input[type="submit"] {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
}

#contact form textarea:focus~label {
    font-size: 10px;
}


/* copyright section */

.copyright {
    text-align: center;
    padding: 20px 0;
    background: #f84c71;
    color: white;
    font-size: 18px;
    text-transform: capitalize;
}

.copyright div {
}

/* fix responsive */

@media only screen and (max-width: 768px) {
    #menu-open {
        display: block;
        float: right;
        margin-right: 30px;
        margin-top: 15px;
        border: 0;
        background: transparent;
        font-size: 28px;
    }
    .menu ul {
        clear: both;
        display: none;
        background: rgba(0, 0, 0, 0.27);
    }
    .menu ul li {
        display: block;
        text-align: right;
        padding-right: 35px;
        transition: .5s ease;
    }
    /* fix client area responsive*/
    .carousel-inner>.item>a>img,
    .carousel-inner>.item>img,
    .img-responsive,
    .thumbnail a>img,
    .thumbnail>img {
        display: block;
        margin: 0 auto;
    }
    .carousel-caption {
        display: block;
        text-align: center;
        width: 100%;
    }
    /* fix social icons css */
    .icons{
    margin-left: -135px;
}
    .social-icons .icon {
        font-size: 15px;
    }
    .icon i.fa.fa-facebook {
        padding: 15px 19px;
    }
    
    /* contact form fix responsive */
    
    #contact form {
    width: 75%;
    }
}